@import "../../../../variables";
a{
    text-decoration: none;
    width: 5rem;
    text-align: center;
    font-family: pacifico;
    font-size: 1.25rem;
    @include predeterminate-color;
}
.nav-styler{
    display: flex;
    height: 5rem;
    align-items: center;
    @include predeterminate-color;
    @extend .box-shadow;
}